---
import Layout from '../layouts/Layout.astro';
import data from '@data/data.json';
import IPlanet from '@interfaces/IPlanet';

import FactsCard from '@components/FactsCard';
import FactsRow from '@components/FactsRow';

const earth: IPlanet = data.find((x) => x.name === 'Earth');
---

<Layout title='Earth'>
  <main class='lg:container mx-auto px-4'>
    <FactsCard
      client:load
      name={earth.name}
      overview={earth.overview}
      structure={earth.structure}
      geology={earth.geology}
      images={earth.images}
      btnColor='bg-indigo'
    />
    <FactsRow
      rotation={earth.rotation}
      revolution={earth.revolution}
      radius={earth.radius}
      temperature={earth.temperature}
    />
  </main>
</Layout>
