---
import Layout from '../layouts/Layout.astro';
import data from '@data/data.json';
import IPlanet from '@interfaces/IPlanet';

import FactsCard from '@components/FactsCard';
import FactsRow from '@components/FactsRow';

const mercury: IPlanet = data.find((x) => x.name === 'Mercury');
---

<Layout title='Mercury'>
  <main class='container mx-auto flex flex-col h-3/4 justify-evenly'>
    <div class='grid grid-cols-2'>
      <img src='/planet-mercury.svg' alt='planet-mercury' class='mx-auto' />
      <FactsCard
        client:load
        name={mercury.name}
        overview={mercury.overview}
        structure={mercury.structure}
        geology={mercury.geology}
      />
    </div>
    <FactsRow
      rotation={mercury.rotation}
      revolution={mercury.revolution}
      radius={mercury.radius}
      temperature={mercury.temperature}
    />
  </main>
</Layout>
