---
import Layout from '../layouts/Layout.astro';
import data from '@data/data.json';
import IPlanet from '@interfaces/IPlanet';

import FactsCard from '@components/FactsCard';
import FactsRow from '@components/FactsRow';

const mercury: IPlanet = data.find((x) => x.name === 'Mercury');
---

<Layout title='Mercury'>
  <main class='lg:container mx-auto px-4'>
    <FactsCard
      client:load
      name={mercury.name}
      overview={mercury.overview}
      structure={mercury.structure}
      geology={mercury.geology}
      images={mercury.images}
      btnColor='bg-azure-blue'
    />
    <FactsRow
      rotation={mercury.rotation}
      revolution={mercury.revolution}
      radius={mercury.radius}
      temperature={mercury.temperature}
    />
  </main>
</Layout>
