---
import Layout from '../layouts/Layout.astro';
import data from '@data/data.json';
import IPlanet from '@interfaces/IPlanet';

import FactsCard from '@components/FactsCard';
import FactsRow from '@components/FactsRow';

const neptune: IPlanet = data.find((x) => x.name === 'Neptune');
---

<Layout title='Neptune'>
  <main class='container mx-auto flex flex-col h-3/4 justify-evenly'>
    <FactsCard
      client:load
      name={neptune.name}
      overview={neptune.overview}
      structure={neptune.structure}
      geology={neptune.geology}
      images={neptune.images}
    />
    <FactsRow
      rotation={neptune.rotation}
      revolution={neptune.revolution}
      radius={neptune.radius}
      temperature={neptune.temperature}
    />
  </main>
</Layout>
