---
const navItemStyle =
  'uppercase py-2 px-4 rounded-full hover:bg-dark-grey text-h3 leading-h3 tracking-h3 text-white font-heading font-bold';
---

<nav
  class='flex flex-col items-center justify-between h-28 lg:h-20 mx-6 lg:flex-row mb-20'
>
  <h2 class='uppercase'>The planets</h2>
  <ul class='flex justify-between items-center gap-4'>
    <li>
      <a href='index.html' class={navItemStyle}>Mercury</a>
    </li>
    <li>
      <a href='venus.html' class={navItemStyle}>Venus</a>
    </li>
    <li>
      <a href='earth.html' class={navItemStyle}>Earth</a>
    </li>
    <li>
      <a href='mars.html' class={navItemStyle}>Mars</a>
    </li>
    <li>
      <a href='jupiter.html' class={navItemStyle}>Jupiter</a>
    </li>
    <li>
      <a href='saturn.html' class={navItemStyle}>Saturn</a>
    </li>
    <li>
      <a href='uranus.html' class={navItemStyle}>Uranus</a>
    </li>
    <li>
      <a href='neptune.html' class={navItemStyle}>Neptune</a>
    </li>
  </ul>
</nav>
